/* Стилизация аккордеона */
.accordion__item {
    padding: 24px 32px;
    margin-bottom: 8px;

    background: var(--white);

    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--black);

    -webkit-user-select: none;  /* чтобы при клике на аккордеон автоматически не выделялся текст. Проблема в Safari*/
    user-select: none;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item[open] {
    padding-bottom: 32px;
}

.accordion__summary {
    user-select: none;
    cursor: pointer;
}

/* https://stackoverflow.com/a/66814239 */
details > summary {
    list-style: none;
}
  
details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
   display: none;
}

summary:focus {
    outline: none;
}

.accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;
}

.accrordion__title {
    margin: 0;
}

.accordion__item[open] .accordion__icon-arrow {
    transform: rotate(0deg);
    transition: transform .3s ease-out 0s;
}

.accordion__icon-arrow {
    width: 26px;
    height: 26px;
    transform: rotate(180deg);
    transition: transform .3s ease-out 0s;
    color: var(--grey-4);
}

.accordion__description {
    margin: 0;
    padding: 16px 18px 0 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}