/* Стилизация аккордеона */
.accordion__item {
    padding: 24px 32px;
    margin-bottom: 8px;

    background: var(--white);

    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--black);
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item[open] {
    padding-bottom: 32px;
}

.accordion__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accrordion__title {
    margin: 0;
}

.accordion__item[open] .accordion__icon-arrow {
    transform: rotate(0deg);
    transition: transform .3s ease-out 0s;
}

.accordion__icon-arrow {
    transform: rotate(-180deg);
    transition: transform .3s ease-out 0s;
}

.accordion__description {
    margin: 16px 18px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}