@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url(./Inter/static/Inter-Thin.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url(./Inter/static/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url(./Inter/static/Inter-Light.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(./Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url(./Inter/static/Inter-Medium.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url(./Inter/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(./Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url(./Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url(./Inter/static/Inter-Black.ttf);
}