@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/main-menu/main-menu.css';
@import '../../components/container/container.css';
@import '../../components/preview/preview.css';
@import '../../components/card/card.css';
@import '../../components/footer/footer.css';
@import '../../components/main-section/main-section.css';
@import '../../components/nav-vertical-menu/nav-vertical-menu.css';
@import '../../components/tabs/tabs.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);


    /* дополнительные цвета */

    --blue-1: #374FC7;
    --blue-2: #4263EB;
    --blue-3: #2342C0;
    --blue-4: #1a2978;
 
    --purple-1: #7048E8;
    --purple-2: #5028C6;
    --purple-3: #3b1aa0;

    --grey-5: #F9FAFC;

    --black-1: #212429;

    --red-1: #D84910;

    /* семантический слой */
    
    --bg-button-primary-default: var(--blue-1);
    --bg-button-primary-disabled: var(--blue-2);
    --bg-button-primary-hover: var(--blue-3);
    --bg-button-primary-active: var(--blue-4);
    --color-button-primary-text: var(--white);
    
    --bg-button-secondary-default: var(--purple-1);
    --bg-button-secondary-disabled: var(--purple-1);
    --bg-button-secondary-hover: var(--purple-2);
    --bg-button-secondary-active: var(--purple-3);
    --color-button-secondary-text: var(--white);

    --bg-button-alternate-default: var(--white);
    --bg-button-alternate-disabled: var(--white);
    --bg-button-alternate-hover: var(--white);
    --bg-button-alternate-active: var(--white);
    --color-button-alternate-text: var(--grey-4);
    --color-button-alternate-border: var(--grey-3);
    --color-button-alternate-border-hover: var(--black);

    --color-menu-active: var(--red-1);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}