.footer {
    margin-top: 70px;
}

.footer__title {
    text-align: center;
    margin-top: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__description {
    max-width: 640px;
    height: 96px;

    margin: 32px auto 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}

.footer_grid {
    margin-top: 0px;
    height: 74px;

    display: grid;
    justify-items: center;
    align-items: center;

    background: var(--grey-5);
}

.footer__title-grid {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--grey-3);
}
