.preview {
    background: var(--grey-5);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview__cards {
    padding: 68px 0 92px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
}

.preview_border_none {
    border-top: none;
    border-bottom: none;
}


@media screen and (max-width: 600px) {

    .preview {
        border-bottom: none;
    }

    .preview_media {
        background: var(--white)
    }

    .preview__cards {
        padding: 24px 0 204px;
        gap: 16px;
    }
}