.preview {
    height: 1035px;
    background: var(--grey-5);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview__cards {
    margin: 68px 0 204px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
}

.preview__cards-item {
    flex: 1 1 calc(100% / 3 - 30 * 2);
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}